<p-toast position="top-right"></p-toast>
<p-dialog
  header="Update Product"
  [(visible)]="productDetailsDialog"
  [modal]="true"
  class="paymentDialog"
>
  <ng-template pTemplate="content">
    <div
      class="surface-card p-4 shadow-2 border-round p-fluid"
      [formGroup]="updateStockForm"
    >
      <div class="grid formgrid p-fluid">
        <div class="field col-12 md:col-12">
          <label for="integeronly">Update Number</label>
          <p-inputNumber formControlName="updateNumber" inputId="integeronly">
          </p-inputNumber>
        </div>
      </div>

      <div class="grid formgrid p-fluid">
        <div class="field col-12 md:col-12">
          <label>Describe reason for update</label>
          <span class="p-float-label">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="description"
            ></textarea>
            <label for="float-input">Description</label>
          </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      label="Deduct Product"
      icon="pi pi-minus-circle"
      (click)="deductProduct(inventory.id)"
      [disabled]="!updateStockForm.valid"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Add Product"
      class="p-button-success"
      icon="pi pi-plus-circle"
      (click)="addProduct(inventory.id)"
      [disabled]="!updateStockForm.valid"
    ></button>
  </ng-template>
</p-dialog>
<p-dialog
  header="Stock Details"
  [(visible)]="stockDetailsDialog"
  [modal]="true"
  class="paymentDialog"
>
  <ng-template pTemplate="content">
    <p-table
      [value]="stockHistoy"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Balance Before</th>
          <th>Balance After</th>
          <th>Description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stock>
        <tr>
          <td>{{ stock.createdAt }}</td>
          <td>{{ stock.balanceBefore }}</td>
          <td>{{ stock.balanceAfter }}</td>
          <td>{{ stock.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-dialog>
<p-card>
  <p-table
    [value]="inventoryArray"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Product</th>
        <th>Category</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inventory>
      <tr>
        <td>{{ inventory.name }}</td>
        <td>{{ inventory.category.name }}</td>
        <td>{{ inventory.currentStock }}</td>
        <td>
          <div class="buttons">
            <div class="child">
              <button
                pButton
                pRipple
                type="button"
                label="View Product"
                (click)="viewStock(inventory.id)"
                icon="pi pi-eye"
              ></button>
            </div>
            <div class="child">
              <button
                pButton
                pRipple
                type="button"
                label="Update Product"
                class="p-button-success"
                (click)="updateStock(inventory)"
                icon="pi pi-pencil"
              ></button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
