<p-toast></p-toast>
<p-button
  (click)="showAddProductDialog()"
  icon="pi pi-plus"
  label="Add Product"
></p-button>
<p-dialog
  [(visible)]="displayBasic"
  appendTo="body"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '40vw' }"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center">
      <span
        class="flex align-items-center justify-content-center bg-cyan-100 text-cyan-800 mr-3 border-circle"
        style="width: 32px; height: 32px"
      >
        <i class="pi pi-info text-lg"></i>
      </span>
      <div *ngIf="hideContent == 1">
        <span class="font-medium text-2xl text-900">Add Product</span>
      </div>
      <div *ngIf="hideContent == 0">
        <span class="font-medium text-2xl text-900">Edit Product</span>
      </div>
    </div>
  </ng-template>

  <div [formGroup]="productForm">
    <div class="surface-card p-4 shadow-2 border-round p-fluid">
      <div class="grid formgrid p-fluid">
        <div class="field col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Name</span>
            <input
              type="text"
              pInputText
              placeholder="Product Name"
              formControlName="name"
            />
          </div>
        </div>
      </div>

      <div class="grid formgrid p-fluid">
        <div class="field col-12 md:col-12">
          <p-dropdown
            [options]="category"
            formControlName="category"
            placeholder="Select Category"
            optionLabel="name"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>
      <div class="grid formgrid p-fluid">
        <div class="field col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">GH</span>
            <input
              type="number"
              pInputText
              placeholder="Selling Price"
              formControlName="sellingPrice"
            />
            <span class="p-inputgroup-addon">.00</span>
          </div>
        </div>
      </div>
      <div class="grid formgrid p-fluid">
        <div class="field col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">GH</span>
            <input
              type="number"
              pInputText
              placeholder="Cost Price"
              formControlName="costPrice"
            />
            <span class="p-inputgroup-addon">.00</span>
          </div>
        </div>
      </div>

      <div class="grid formgrid p-fluid" *ngIf="hideContent == 1">
        <div class="field col-12 md:col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">Current Stock</span>
            <input
              type="number"
              pInputText
              placeholder="Current Stock"
              formControlName="currentStock"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="border-top-1 surface-border pt-3">
      <button
        pButton
        pRipple
        icon="pi pi-times"
        (click)="displayBasic = false"
        label="Cancel"
        class="p-button-text"
      ></button>
      <button
        *ngIf="hideContent == 1"
        pButton
        pRipple
        icon="pi pi-check"
        (click)="addProduct()"
        label="Add Product"
      ></button>
      <button
        *ngIf="hideContent == 0"
        pButton
        pRipple
        icon="pi pi-check"
        (click)="saveEditProduct(_product.id)"
        label="Edit Product"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<p-table
  [value]="product"
  styleClass="p-datatable-gridlines"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Selling Price</th>
      <th>Cost Price</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.sellingPrice }}</td>
      <td>{{ product.costPrice }}</td>
      <td>{{ product.category.name }}</td>
      <td>
        <button
          pButton
          pRipple
          type="button"
          label="Success"
          class="p-button-success"
          icon="pi pi-pencil"
          (click)="showEditProductDialog(product)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
